<button (click)="playSimulation()" [disabled]="animation">Play</button>
<button (click)="pauseSimulation()">Pause</button>
<button (click)="stopSimulation()">Stop</button>
<button (click)="reverseSimulation()">Reverse</button>
<button (click)="fasterSimulation()">Faster</button>
<button (click)="slowerSimulation()">Slower</button>

<svg height="400" width="450">
  <g class="machining" *ngFor="let item of list">
    <path [attr.stroke-dashoffset]="item.progress" [attr.stroke-dasharray]="item.length" [attr.d]="item.data" stroke="red" stroke-width="3" opacity="0.7" fill="none" stroke-linecap="round"/>
  </g>
</svg>