<div fxLayout="column" fxLayoutAlign="space-between" class="container">
  <div fxFlex="auto">
    <button (click)="playSimulation()" [disabled]="animation">Play</button>
    <button (click)="pauseSimulation()">Pause</button>
    <button (click)="stopSimulation()">Stop</button>
    <button (click)="reverseSimulation()">Reverse</button>
    <button (click)="fasterSimulation()">Faster</button>
    <button (click)="slowerSimulation()">Slower</button>
  </div>
  <svg fxFlex="*" viewBox="0 0 1020 520">
    <g class="sheet">
      <rect x="10" y="10" width="1000" height="500" stroke="black" fill="black" fill-opacity="0.1"/>
    </g>
    <g class="parts" fill-opacity="0.3" *ngFor="let part of parts">
      <path [attr.d]="part.data" stroke="black" stroke-width="2" [attr.fill]="part.color" stroke-linecap="round"/>
    </g>
    <g class="machining" *ngFor="let item of machinings">
      <path [attr.stroke-dashoffset]="item.progress" [attr.stroke-dasharray]="item.length" [attr.d]="item.data" [attr.stroke]="item.color" [attr.stroke-width]="item.thickness" opacity="0.7" fill="none" stroke-linecap="round" />
    </g>
  </svg>
</div>